.navbar{
    padding: 0 !important;
}
.card{
    box-shadow: 2px 2px #fbf6f6;
    margin: 9% auto;
}
#dealItemPage{
    height: 375px;
    color: #0a0f2e;
    max-width: 270px;
    background: #f4f4f4;
}
#dealItemPage h6{
    text-align: center;
    text-decoration: underline;
    margin-top: 1rem;
}
#dealItemPage .card-body {
    padding: 1rem 1.25rem;
    border-top: 1px solid #fcfcfc;
}
#dealItemPage h3{
    font-size: 1rem;
    text-align: center;
}
#dealItemPage #appearOnHover{
    position: absolute;
    z-index: 2;
    padding: 8%;
    height: 294px;
    background: purple;
    text-align: center;
    color: #fff;
    opacity: .9;
    display: none;
    cursor: pointer;
    width: 100%;
    /* transition: all 5s ease-in-out; */
    /* height: 0; */
}
#dealItemPage:hover .card-body{
    background: purple;
    color: #fff;
}
#dealItemPage hr{
    margin-bottom: 0;
}
#dealItemPage #appearOnHover h6{
    margin-top: -4px;
}
#dealItemPage:hover #appearOnHover{
    display: block;
}
#dealItemPage:hover #h6{
    opacity: 0;
}
#dealItemPage #appearOnHover #description{
    font-size: .8rem;
}
#dealItemPage #offPercent{
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-weight: 600;
}
.row{
    width: 100%;
}
#pCard{
    font-size: .8rem !important;
    text-align: justify;
    line-height: normal;
    color: #727171;
}
/* #button{
    color: #346aa0 !important;
    background-color: #fff !important;
    border-color: #346aa0 !important;
    float: right;
    font-size: .8rem !important;
} */
#sale{
    font-size: .8em;
    text-decoration: line-through;
}
#productImg{
    margin: auto !important;
    max-height: 81%;
    max-width: 100%;
    padding: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card-img-top {
    width: auto;
}
#priceDiv h5{
    font-size: 1rem;
    margin-bottom: 0px;
    text-align: center;
}
#cardImgDiv{
    width: 100%;
    margin: auto;
    height: 63%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;  
    padding: 2% 0;
    margin-bottom: 0;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.cardBodyProduct{
    padding-top: 0.5rem;
}

/* ..........................................new css.................................. */
#bigDeal{
    max-width: 570px;
    min-height: 380px;
    background: #f4f4f4;
    margin-bottom: 57px;
}
#bigDeal #collections{
    /* width: 58%; */
    /* float: left; */
    margin-top: 36px;
    margin-left: 18px;
    font-family: Montserrat;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #0a0f2e;
}
#bigDeal button{
    /* float: right; */
    margin-top: 36px;
    /* margin-right: 28px;
    margin-left: 28px; */
    background-color: #634099;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: 0;
    width: 150px;
    height: 50px;
}

#bigDeal #imageDiv{
    position: relative;
    height: 197px;
    width: 70%;
    overflow: hidden;
    margin: auto;
}
#bigDeal img{
    max-width: 434px;
    max-height: 197px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

@media (max-width:766px){
    #dealItemPage {
        height: 250px;
    }
    #dealItemPage #appearOnHover {
        height: 250px;
    }
    #dealItemPage #offPercent {
        font-size: 1.2rem;
    }
    #dealItemPage #appearOnHover #description {
        font-size: .66rem;
        text-align: center;
        margin-top: -14px;
    }
}

@media (max-width:480px){
    #dealItemPage {
        height: 200px;
    }
    #dealItemPage #appearOnHover {
        height: 200px;
    }
    #dealItemPage h6{
        font-size: .7rem;
        font-weight: unset;
    }
    #dealItemPage h3 {
        font-size: .6rem;
        font-weight: normal;
    }
    #sale {
        font-size: .6em;
        margin-right: 5px;
    }
    #priceDiv h5 {
        font-size: .7rem;
    }
}