
#carouselContainer{
    height: fit-content;
    max-height: 340px;
    overflow: hidden;
    width: 100%;
}
#carouselContainer .carousel-control-next, #carouselContainer .carousel-control-prev{
    height: 339px;
}
#carouselContainer .carousel {
    height: 339px;
}
#carouselContainer .carousel-indicators li{
    height: 7px;
    width: 6px;
    border-radius: 50%;
}
#carouselContainer a img{
    max-width: 100%;
    max-height: 100%;
}

